<% content_for :nav, render('shared/navbar_home') %>

  <div class="bg-home banner text-center">
    <div class="banner-gradient"></div>
    <div class="banner-content">
      <h1> Hello les Gourmets!  </h1>
      <h3>Les Seguins vous souhaitent la bienvenue dans leur temple de la degustation et de la générosité... </h3>
      <a class="btn btn-primary btn-lg">RÊVER</a>
    </div>
  </div>
  <!-- <div class="bg-home banner text-center">
    <div class="banner-gradient"></div>
    <div class="banner-content">
      <p>Avec une finnesse de produit du terroir divine et un toucher minutieux, presque artistique pour composer ses planches, ils renversent les idées préconcues pour vous offrir une degustation unique dans le seul but de faire jouir votre palais, âme sensible s'abstenir... </p>
      <a class="btn btn-primary btn-lg">GET IT</a>
    </div>
  </div> -->






